@import "./pods/home/homeCards.styles.scss";

$primaryColor: #1976d2;
$primaryLight: #90caf9;
$primaryDark: #1565c0;

$secondaryGreyLight: rgba(216, 216, 216, 0.5);
$secondaryGreyLightDark: rgb(87, 87, 87);
$secondaryGrey: rgb(171, 171, 171);

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  text-align: center;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.layout-center {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}

.layout-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  justify-items: center;
}

.layout-app-nav {
  margin-right: 2rem;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

#search-bar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.member-list-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: max-content;
}
.grid-column-1-header {
  background-color: $primaryColor;
  color: white;
  font-weight: 500;
  padding: 4px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.grid-column-2-header {
  background-color: $primaryColor;
  color: white;
  font-weight: 500;
  padding: 4px;
}
.grid-column-3-header {
  background-color: $primaryColor;
  color: white;
  font-weight: 500;
  padding: 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.organization-list-name {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: $primaryColor;
  font-style: italic;
}

.member-count {
  display: flex;
  justify-content: center;
}

.header-list.item-detail-link {
  margin: 0;
}

.header-list {
  display: grid;
  gap: 1px;
  grid-template-columns: minmax(80px, 100px) minmax(100px, min-content) minmax(100px, auto);
  align-items: center;
  margin: 16px 0px;
  border-radius: 8px;
  width: 325px;

  & img {
    width: 60px;
    border-radius: 2px;
  }
  & span {
    padding-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.not-found-text {
  color: red;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}

.item-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px 8px 8px;
  padding: 0 8px 8px 8px;
  color: $primaryColor;

  & span {
    margin: 0 4px 0 4px;
    overflow-wrap: anywhere;
  }
}

.text-grey-span {
  color: $secondaryGreyLightDark;
}

.detail-container {
  display: flex;
  flex-direction: column;
  border: 1px solid $primaryLight;
  border-radius: 8px;
  max-width: 400px;
}

.section-button-container {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin: 24px;
}

.item-detail-span-orig-loc {
  color: $secondaryGrey;
  font-size: small;
  padding-top: 6px;
}

.resident-list-container {
  display: grid;
  grid-template-columns: 60px min-content;
  margin: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.span-list-item {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
